bin/*
extension.zip

build
.gradle
.idea

.terraform*
terraform.*

.vscode/

.DS_Store

.tox
__pycache__/*
.pyc
build.toml

*.zip

# from CXDL
.cache
build
dist
bin

.vscode

**/.venv
.idea
**/*.iml
cp.out
junit-report.xml
test_coverage.html
test_coverage.txt
