# TODO: move this dependency to requirements.txt when this dependency gets updated to 0.48b0
# This has to be done because 0.47b0 is pinning a specific version of opentelemetry-propagator-aws-xray
# causing dependency resolution conflicts.
opentelemetry-instrumentation-aws-lambda==0.47b0
