# TODO: move these dependencies to requirements.txt when they stopped relying on a pinned version of
# opentelemetry-propagator-aws-xray
opentelemetry-instrumentation-aws-lambda==0.54b0
opentelemetry-instrumentation-botocore==0.54b0
