opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-distro==0.47b0
opentelemetry-instrumentation==0.47b0
opentelemetry-semantic-conventions == 0.47b0
opentelemetry-propagator-aws-xray==1.0.2
