opentelemetry-instrumentation-aiohttp-client==v0.33b0
opentelemetry-util-http==v0.33b0
asgiref~=3.0
opentelemetry-instrumentation-asgi==v0.33b0
opentelemetry-instrumentation-asyncpg==v0.33b0
opentelemetry-instrumentation-boto==v0.33b0
opentelemetry-instrumentation-botocore==v0.33b0
opentelemetry-instrumentation-celery==v0.33b0
opentelemetry-instrumentation-dbapi==v0.33b0
opentelemetry-instrumentation-django==v0.33b0
opentelemetry-instrumentation-elasticsearch==v0.33b0
opentelemetry-instrumentation-fastapi==v0.33b0
opentelemetry-instrumentation-falcon==v0.33b0
opentelemetry-instrumentation-flask==v0.33b0
opentelemetry-instrumentation-grpc==v0.33b0
opentelemetry-instrumentation-jinja2==v0.33b0
opentelemetry-instrumentation-mysql==v0.33b0
opentelemetry-instrumentation-psycopg2==v0.33b0
opentelemetry-instrumentation-pymemcache==v0.33b0
opentelemetry-instrumentation-pymongo==v0.33b0
opentelemetry-instrumentation-pymysql==v0.33b0
opentelemetry-instrumentation-pyramid==v0.33b0
opentelemetry-instrumentation-redis==v0.33b0
opentelemetry-instrumentation-requests==v0.33b0
opentelemetry-instrumentation-sqlalchemy==v0.33b0
opentelemetry-instrumentation-sqlite3==v0.33b0
opentelemetry-instrumentation-starlette==v0.33b0
opentelemetry-instrumentation-tornado==v0.33b0
opentelemetry-instrumentation-wsgi==v0.33b0