name: "Continuous Build (Collector)"

on:
  push:
    paths:
      - 'collector/**'
      - '.github/workflows/ci-collector.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'collector/**'
      - '.github/workflows/ci-collector.yml'
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: collector/go.mod
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Tidy
        run: make gotidy
        working-directory: collector
      - name: Run tests
        run: make gotest
        working-directory: collector
  build:
    runs-on: ubuntu-latest
    needs: [test]
    strategy:
      matrix:
        architecture: [ amd64, arm64 ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: collector/go.mod
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Collector Executable for ${{ matrix.architecture }} architecture
        run: GOARCH=${{ matrix.architecture }} make package
        working-directory: collector
      - name: Get Lambda Layer amd64 architecture value
        if: ${{ matrix.architecture == 'amd64' }}
        run: echo LAMBDA_LAYER_ARCHITECTURE=x86 | tee --append $GITHUB_ENV
      - name: Get Lambda Layer arm64 architecture value
        if: ${{ matrix.architecture == 'arm64' }}
        run: echo LAMBDA_LAYER_ARCHITECTURE=ARM | tee --append $GITHUB_ENV
      - name: Confirm architecture of built collector
        working-directory: collector/build/extensions
        run: |
          grep ${{ env.LAMBDA_LAYER_ARCHITECTURE }} <<< "$(file collector)"
