name: "Continuous Build (Java)"

on:
  push:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: corretto
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          add-job-summary-as-pr-comment: on-failure # Valid values are 'never' (default), 'always', and 'on-failure'

      - name: Execute Gradle build
        run: |
          cd java
          ./gradlew build --scan --stacktrace
