name: "Continuous Build (Java)"

on:
  push:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: corretto
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          add-job-summary-as-pr-comment: on-failure # Valid values are 'never' (default), 'always', and 'on-failure'

      - name: Execute Gradle build
        run: |
          cd java
          ./gradlew build --scan --stacktrace
