name: "Continuous Build (Java)"

on:
  push:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: corretto
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@8379f6a1328ee0e06e2bb424dadb7b159856a326 # v4.4.0
        with:
          add-job-summary-as-pr-comment: on-failure # Valid values are 'never' (default), 'always', and 'on-failure'

      - name: Execute Gradle build
        run: |
          cd java
          ./gradlew build --scan --stacktrace
