name: "Continuous Build (Java)"

on:
  push:
    paths:
      - 'java/**'
    branches:
      - main
  pull_request:
    paths:
      - 'java/**'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 15
      - uses: burrunan/gradle-cache-action@v1.10
        with:
          remote-build-cache-proxy-enabled: false
          arguments: build --stacktrace
          build-root-directory: java
