name: "Continuous Build (Java)"

on:
  push:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'java/**'
      - '.github/workflows/ci-java.yml'
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: corretto
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          add-job-summary-as-pr-comment: on-failure # Valid values are 'never' (default), 'always', and 'on-failure'

      - name: Execute Gradle build
        run: |
          cd java
          ./gradlew build --scan --stacktrace
