name: "Continuous Build (Python)"

on:
  push:
    paths:
      - 'python/**'
      - '.github/workflows/ci-python.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'python/**'
      - '.github/workflows/ci-python.yml'
    branches:
      - main

env:
  AWS_REGION: us-east-1
  # Copied this CORE_REPO_SHA from
  # https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/.github/workflows/test.yml#L9
  CORE_REPO_SHA: v1.19.0

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # If you add a python version here, please make sure that the collector/Makefile publish and publish-layer targets
        # get updated as well
        python: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - name: Checkout this repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Python for OTel Python SDK
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox testing package
        working-directory: python/src
        run: |
          pip install tox
          tox
      - name: Set up Go for ADOT Collector
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '^1.20.8'
      - name: Build Python Layer which includes ADOT Collector
        working-directory: python/src
        run: ./run.sh -b
