name: "Continuous Build (Python)"

on:
  push:
    paths:
      - 'python/**'
      - '.github/workflows/ci-python.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'python/**'
      - '.github/workflows/ci-python.yml'
    branches:
      - main

env:
  AWS_REGION: us-east-1

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # If you add a python version here, please make sure that the collector/Makefile publish and publish-layer targets
        # get updated as well
        python: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - name: Checkout this repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python for OTel Python SDK
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Run tests
        working-directory: python/src/otel
        run: |
          uv sync --extra test --extra instrumentation
          uv run pytest tests
