name: "Continuous Build (shellcheck)"

on: [push, pull_request]

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install shell check
        run: sudo apt update && sudo apt install --assume-yes shellcheck

      - name: Run shellcheck
        run: >-
          find . -type f |
          grep -v '.git' |
          xargs -n 30 file |
          grep -i shell |
          awk -F':' '{print $1}' |
          xargs shellcheck

