name: "Continuous Build (Terraform)"

on:
  push:
    paths:
      - '**/*.tf'
      - '.github/workflows/ci-terraform.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**/*.tf'
      - '.github/workflows/ci-terraform.yml'
    branches:
      - main

permissions:
  contents: read

jobs:
  check-terraform-syntax:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: terraform fmt -check -recursive
