name: Publish Lambda Layer

on:
  workflow_call:
    inputs:
      artifact-name:
        description: 'This should correspond to a actions/upload-artifact name earlier in the build. The file name and the name of the artifact containing it must be equal.'
        required: true
        type: string
      layer-name:
        description: 'Layer name not including other parts like arch or version.'
        required: true
        type: string
      component-version:
        description: 'Version of the component included in this release. Not the same as the layer/tagged version.'
        required: true
        type: string
      architecture:
        description: '(optional) amd64 or arm64'
        required: false
        type: string
      runtimes:
        description: '(optional) a space delimited list of compatible runtimes (from https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html)'
        required: false
        type: string
      release-group:
        description: 'Release to dev or prod? "prod" yields empty value. (Default: dev)'
        required: true
        default: dev
        type: string
      aws_region:
        description: 'Publish to which AWS region?'
        required: true
        type: string
      role-arn:
        description: '(optional) AWS IAM Role ARN to be assumed for publishing layer. If no input is given, defaults to `PROD_LAMBDA_ROLE_ARN` secret.'
        required: false
        type: string
      layer-version:
        description: '(optional) Layer version to be used in the layer name. If no input is given, its value is tried to be extracted from the `GITHUB_REF_NAME` variable'
        required: false
        type: string

permissions:
  contents: read

jobs:
  publish_layer:
    permissions:
      id-token: write # required for AWS OIDC authentication
    runs-on: ubuntu-latest

    steps:

      - name: Construct Layer Name
        shell: bash
        run: |
          LAYER_NAME=${{ inputs.layer-name }}
          
          if [[ -n "${{ inputs.architecture }}" ]]; then
            LAYER_NAME=$LAYER_NAME-${{ inputs.architecture }}
            ARCH=$(echo "${{ inputs.architecture }}" | sed -r 's/amd64/x86_64/g')
          else
            ARCH="x86_64 arm64"
          fi
          echo "ARCH=$ARCH" >> $GITHUB_ENV
          
          if [[ -n "${{ inputs.runtimes }}" ]]; then
            COMPATIBLE_RUNTIMES="--compatible-runtimes ${{ inputs.runtimes }}"
          fi
          echo "COMPATIBLE_RUNTIMES=$COMPATIBLE_RUNTIMES" >> $GITHUB_ENV
          
          if [[ "${{ inputs.release-group }}" != "prod" ]]; then
            LAYER_NAME=$LAYER_NAME-${{ inputs.release-group }}
          fi
          
          if [[ -n "${{ inputs.layer-version }}" ]]; then
            LAYER_VERSION="${{ inputs.layer-version }}"
          else
            LAYER_VERSION=$(echo "$GITHUB_REF_NAME" | sed -r 's/.*\/[^0-9\.]*//g')
          fi
          LAYER_VERSION_CLEANED=$(echo "$LAYER_VERSION" | sed -r 's/\./_/g')          
          
          if [[ -n "$LAYER_VERSION_CLEANED" ]]; then
            LAYER_NAME=$LAYER_NAME-$LAYER_VERSION_CLEANED
          fi
          echo "LAYER_NAME=$LAYER_NAME" >> $GITHUB_ENV
          
          echo GITHUB_ENV:
          cat $GITHUB_ENV

      - name: Download built layer
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ inputs.artifact-name }}

      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: ${{ inputs.role-arn || secrets.OTEL_LAMBDA_LAYER_PUBLISH_ROLE_ARN || secrets.PROD_LAMBDA_ROLE_ARN }}
          role-duration-seconds: 1200
          aws-region: ${{ inputs.aws_region }}
          mask-aws-account-id: false

      - name: Publish Lambda Layer
        run: |
          LAYER_ARN=$(
            aws lambda publish-layer-version \
              --layer-name $LAYER_NAME \
              --license-info "Apache 2.0" \
              --compatible-architectures $ARCH \
              $COMPATIBLE_RUNTIMES \
              --zip-file fileb://${{ inputs.artifact-name }} \
              --query 'LayerVersionArn' \
              --output text
          )
          echo "::notice ::$LAYER_ARN component-version=${{ inputs.component-version }}"
        # echo "* $LAYER_ARN" >> $GITHUB_STEP_SUMMARY

      - name: Make Layer Public
        run: |
          LAYER_VERSION=$(
            aws lambda list-layer-versions \
              --layer-name $LAYER_NAME \
              --query 'max_by(LayerVersions, &Version).Version'
          )
          aws lambda add-layer-version-permission \
            --layer-name $LAYER_NAME \
            --version-number $LAYER_VERSION \
            --principal "*" \
            --statement-id publish \
            --action lambda:GetLayerVersion
