name: "Pull Request (Python)"

on:
  pull_request:
    paths:
    - 'python/**'
    branches:
      - main

env:
  AWS_REGION: us-east-1
  CORE_REPO_SHA: 281c97bf8f9e31392859e006e13c9c8eac8967c3

jobs:
  PR-Python:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: [3.8, 3.9]

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
      - name: Setup Python for OTel Python SDK
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox testing package
        working-directory: python/src
        run: |
          pip install tox
          tox
      - name: Set up Go for ADOT Collector
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17'
      - name: Build Python Layer which includes ADOT Collector
        working-directory: python/src
        run: ./run.sh -b
