name: "Pull Request (Python)"

on:
  pull_request:
    paths:
      - 'python/**'
    branches:
      - main

env:
  AWS_REGION: us-east-1
  # Copied this CORE_REPO_SHA from
  # https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/.github/workflows/test.yml#L9
  CORE_REPO_SHA: 2ac9e646af8d6420f13e7e3b2508586f3efb435a

jobs:
  PR-Python:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ['3.8', '3.9']

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
      - name: Setup Python for OTel Python SDK
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox testing package
        working-directory: python/src
        run: |
          pip install tox
          tox
      - name: Set up Go for ADOT Collector
        uses: actions/setup-go@v2
        with:
          go-version: '^1.19'
      - name: Build Python Layer which includes ADOT Collector
        working-directory: python/src
        run: ./run.sh -b
