name: "Release Javaagent Lambda Layer"

on:
  # (Using tag push instead of release to allow filtering by tag prefix.)
  push:
    tags:
      - layer-javaagent/**

permissions:
  id-token: write
  contents: read

jobs:
  build-layer:
    runs-on: ubuntu-latest
    outputs:
      JAVAAGENT_VERSION: ${{ steps.save-javaagent-version.outputs.JAVAAGENT_VERSION }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: gradle/gradle-build-action@v3
        name: Build Javaagent Layer
        with:
          arguments: :layer-javaagent:assemble
          build-root-directory: java

      - uses: actions/upload-artifact@v4
        name: Save assembled layer to build
        with:
          name: opentelemetry-javaagent-layer.zip
          path: java/layer-javaagent/build/distributions/opentelemetry-javaagent-layer.zip

      - name: Save Javaagent Version
        id: save-javaagent-version
        shell: bash
        run: |
          unzip java/layer-javaagent/build/distributions/opentelemetry-javaagent-layer.zip
          JAVAAGENT_VERSION=$(java -jar ./opentelemetry-javaagent.jar)
          echo "JAVAAGENT_VERSION=$JAVAAGENT_VERSION" >> $GITHUB_OUTPUT

  publish-layer:
    uses: ./.github/workflows/layer-publish.yml
    needs: build-layer
    strategy:
      matrix:
        aws_region: 
          - ap-northeast-1
          - ap-northeast-2
          - ap-south-1
          - ap-southeast-1
          - ap-southeast-2
          - ca-central-1
          - eu-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - sa-east-1
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
    with:
      artifact-name: opentelemetry-javaagent-layer.zip
      layer-name: opentelemetry-javaagent
      component-version: ${{needs.build-layer.outputs.JAVAAGENT_VERSION}}
      # architecture:
      runtimes: java8 java8.al2 java11 java17
      release-group: prod
      aws_region: ${{ matrix.aws_region }}
    secrets: inherit

